* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* header */
.header {
    padding: 80px;
    background-color: #1f2937;
    padding-top: 30px;
}

.menu .logo a{
    font-size: 28px;
    color: #f9faf8;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.menu a {
    text-decoration: none;
}

.menu .logo {
    margin-right: auto;
}

.menu .h-link a,
.hero-left .sec-text {
    color: #e5e7eb;
    font-size: 18px;
}

/* header-hero */
.hero {
    display: flex;
    gap: 20px;
}

.hero-left {
    flex: 1;
}

.hero-right {
    background-color: darkgray;
    text-align: center;
    flex: 1;
    height: 200px;
}

.hero-right p {
    position: relative;
    top: 90px;
    color: #e5e7eb;
}

.hero-left .main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-left .btn {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    width: 20%;
}

/* info */

.info .info-header {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 20px;
}

/* info boxes */
.info-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-container .box{
    width: 120px;
    height: 140px;
    border: 3px solid #3882f6;
    border-radius: 5px;
    margin: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
 }

.wrapper p {
    font-size: small;
  }

  /* quote section */
.quote {
    background-color: #e5e7eb;
    padding: 100px;
    margin-top: 50px;
}

.quote .text{
   text-align: center;
   font-size: 36px;
   font-weight: 100;
   font-style: italic;
   color: #1f2937;
}

.author{
    text-align: right;
    font-style: bold;
    font-weight: 900;
  }


/* call to action */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-color: #3882f6;
    padding: 25px;
    gap: 50px;
}

.cta-left p, .cta-left h3 {
    color: #e5e7eb;
}

.cta-right { 
    margin-left: 200px;
    padding: 5px;
    min-width: 10%;
    border: 1px solid white;
    border-radius: 5px;
    color: #f9faf8;
    background-color: #3882f6;   
}

/* footer */
.footer {
    background-color: #1f2937;
    padding: 30px;
    text-align: center;
    color: #e5e7eb;
}